.login-container {
  height: 100vh;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .logo-wrapper {
    text-align: center;
  }
  .logo-title {
    text-align: center;
  }
  .logo {
    height: 150px;
  }
}